.headerMain {
  padding-top: 24px;
  margin: 0 auto 24px auto;
  max-width: 1136px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerMain__left {
  display: flex;
  align-items: center;
  gap: 35px;
}
.headerMain__left__list {
  display: flex;
  gap: 30px;
}
.headerMain__left__list__title {
  font-size: 18px;
  font-weight: bold;
  color: #2f3438;
  line-height: 1;
}
.headerMain__left__list__title--active {
  color: #35c5f0;
}
.headerMain__right {
  display: flex;
  align-items: center;
}
.headerMain__right__search {
  border: 1px solid #c2c8cc;
  border-radius: 4px;
  padding: 13px 14px;
  color: #2f3438;
  font-size: 16px;
  margin-right: 8px;
}
.headerMain__right__search::placeholder {
  color: #c2c8cc;
}
.headerMain__right__list {
  display: flex;
  align-items: center;
}
.headerMain__right__list__title {
  font-size: 14px;
  line-height: 18px;
  color: #2f3438;
  padding: 0 10px;
  border-left: 1px solid #eaedef;
}
.headerMain__right__list__title:first-child {
  border-left: none;
}
.headerMain__right__list__button {
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  background-color: #35c5f0;
  margin-left: 8px;
}
.headerMain__right__list__button::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 2px;
  padding: 0px;
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
}

.headerMenu {
  border-top: 1px solid #eaedef;
  border-bottom: 1px solid #eaedef;
}
.headerMenu__list {
  max-width: 1136px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.headerMenu__list__title {
  position: relative;
  margin: 0 5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  padding: 16px 6px;
  color: #2f3438;
  cursor: pointer;
}
.headerMenu__list__title:hover {
  color: #35c5f0;
}
.headerMenu__list__title--active {
  color: #35c5f0;
  font-weight: 700;
}
.headerMenu__list__title--active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #35c5f0;
  transition: transform 0.2s;
  transform: scale(1);
}

.home {
  margin: 30px auto 60px auto;
  max-width: 1136px;
}

.homeSection {
  margin: 30px auto;
  position: relative;
}
.homeSection__title {
  font-size: 20px;
}
.homeSection__more {
  font-size: 15px;
  color: #35c5f0;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 10px;
}
.homeSection__content {
  margin-top: 20px;
}

.homeHeader {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.story {
  position: relative;
  flex: 0 0 75%;
}
.story__image {
  overflow: hidden;
  border-radius: 6px;
}
.story__content {
  position: absolute;
  bottom: 0;
  padding: 40px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.story__title {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  line-height: 1.38;
  margin: 8px 0 10px;
}
.story__profile {
  display: flex;
  align-items: center;
  color: #fff;
}
.story__profile > img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 3px;
}
.story__button {
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  width: 140px;
  padding: 18px 0 17px;
  font-size: 15px;
}
.story__button:hover {
  border: 1px solid #35c5f0;
  background-color: #35c5f0;
}

.eventBanner {
  flex: 0 0 25%;
}
.eventBanner__image {
  overflow: hidden;
  width: auto;
  height: 100%;
  border-radius: 6px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 30px 0 20px;
}
.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuItem__img {
  display: block;
}
.menuItem__title {
  margin-top: 8px;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #2f3438;
}

.todayStory__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.todayStory__card__image {
  display: block;
  overflow: hidden;
  border-radius: 6px;
}
.todayStory__card__content {
  padding: 15px 10px;
}
.todayStory__card__desc {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.3;
}
.todayStory__card__profile {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.todayStory__card__profile > img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  border-radius: 50%;
}
.todayStory__card__profile > span {
  font-size: 13px;
  font-weight: 400;
}
.todayStory__menu {
  border-radius: 6px;
  overflow: hidden;
}
.todayStory__menuItem {
  padding: 24px 10%;
  background-color: #f5f5f5;
  margin-bottom: 1px;
}
.todayStory__menuDesc {
  font-size: 12px;
  color: #757575;
  margin-bottom: 10px;
}
.todayStory__menuTitle {
  font-size: 15px;
  font-weight: 700;
  color: #424242;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iconArrow {
  display: block;
  width: 5px;
  height: 5px;
  border: 1px solid #757575;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
}

.todayDeal {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.todayDeal__card__image {
  overflow: hidden;
  border-radius: 4px;
}
.todayDeal__card__desc {
  margin-top: 9px;
  padding: 0 10px 30px;
}
.todayDeal__card__brand {
  font-size: 11px;
  line-height: 13px;
  color: #757575;
}
.todayDeal__card__title {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  -webkit-line-clamp: 2;
  color: #424242;
}
.todayDeal__card__sale {
  color: #f77;
  margin-right: 2px;
}
.todayDeal__card__summary {
  color: #9e9e9e;
  line-height: 16px;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.todayDeal__card__summary > .icon {
  width: 1.1em;
  height: 1.1em;
  margin-right: 1px;
  color: #35c5f0;
}
.todayDeal__card__summary__rating {
  color: #424242;
  margin-right: 2px;
}

.todayBestPhoto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.todayBestPhoto__card {
  position: relative;
}
.todayBestPhoto__card__image {
  border-radius: 6px;
  overflow: hidden;
}
.todayBestPhoto__card__profile {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  bottom: 0;
  padding: 15px;
}
.todayBestPhoto__card__profile > img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 2px;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
}

.interior {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.interior__card__image {
  overflow: hidden;
  border-radius: 6px;
}
.interior__card__content {
  margin-top: 15px;
  padding: 4px 0 0 12px;
}
.interior__card__rating {
  display: flex;
  margin-bottom: 6px;
}
.interior__card__desc {
  overflow: hidden;
  font-size: 15px;
  line-height: 20px;
  height: 60px;
  word-break: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.interior__card__profile {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.interior__card__profile > img {
  width: 24px;
  height: 24px;
  margin-left: 2px;
}
.interior__card__profile > span {
  font-size: 15px;
  font-weight: 700;
}

.todayPromotion {
  display: flex;
  gap: 20px;
}

.todayPromotion__card__image {
  border-radius: 6px;
  overflow: hidden;
}
.todayPromotion__card__title {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 700;
  padding: 0 10px 15px;
}
.todayPromotion__card__desc {
  font-size: 13px;
  line-height: 1.3;
  padding: 15px 10px 5px;
}

.premium {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.premium__card__image {
  overflow: hidden;
  border-radius: 6px;
}
.premium__card__title {
  font-size: 13px;
  line-height: 1.38;
  color: #424242;
  margin-bottom: 10px;
}
.premium__card__sale {
  font-weight: 700;
  color: #35c5f0;
}

.banner {
  display: flex;
  gap: 20px;
}

.bannerItem {
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  background-color: #f5f5f5;
  padding: 22px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.bannerItem__title {
  font-size: 15px;
  font-weight: 700;
  color: #424242;
  display: inline-flex;
  gap: 5px;
}

.bannerItem__desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #757575;
}

.bannerItem__desc > span {
  margin-left: 5px;
}

.best__nav {
  margin: 10px 0;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}
.best__nav__title {
  font-size: 15px;
  padding: 10px 15px;
  font-weight: 700;
  color: #757575;
  display: inline-block;
  cursor: pointer;
}
.best__nav__title:first-child {
  padding-left: 0;
}
.best__nav__title:active {
  color: #35c5f0;
}

.bestseller {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.bestseller__card__image {
  overflow: hidden;
  border-radius: 6px;
}
.bestseller__card__title {
  font-size: 13px;
  line-height: 1.38;
  color: #424242;
  margin-bottom: 10px;
  margin-top: 15px;
}
.bestseller__card__price {
  font-weight: 700;
  color: #35c5f0;
}
.bestseller__more {
  text-align: center;
  color: #424242;
  font-size: 20px;
  line-height: 1.35;
  font-weight: 700;
  background-color: #f5f5f5;
  height: 76.4%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bestseller__more__icon {
  margin: 15px auto 0;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}

.homeFooter {
  padding: 30px 72px;
  background-color: #f7f9fa;
}

.homeFooter__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.homeFooter__customerCenter {
  font-size: 12px;
  font-weight: 700;
  color: #2f3438;
}

.homeFooter__customerCenter > p {
  line-height: 16px;
  font-weight: normal;
  margin: 6px 0 0;
}

.homeFooter__customerCenter > a {
  display: block;
  font-weight: 700;
  color: #2f3438;
}

.homeFooter__customerCenter__tel {
  font-size: 24px;
  line-height: 32px;
  margin-top: 9px;
}

.homeFooter__sns {
  display: flex;
  align-items: center;
  gap: 14px;
}

.homeFooter__links {
  display: inline-flex;
  gap: 10px;
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 10px;
}

.homeFooter__links a {
  color: #2f3438;
  text-decoration: none;
}

.homeFooter__text {
  font-size: 10px;
  line-height: 16px;
  color: #828c94;
}

.homeFooter__text > a {
  font-weight: 700;
  color: #828c94;
  text-decoration: none;
}

.homeFooter__caution {
  margin-top: 10px;
}

.homeFooter__copyright {
  font-size: 10px;
  line-height: 14px;
  margin-top: 10px;
  font-style: normal;
}
